h1{
    font-weight: 900;
    font-family: fantasy;
    text-shadow: rgb(224, 204, 204) 3px 3px 2px,
    2px 2px 1px black;
    color: darkblue;
    text-align: center;
    text-transform:uppercase;
    text-decoration: underline black 4px;
    opacity: .5;
}
p{
    font-family: cursive;
    font-weight: 900 lighter;
 font-size: large;
    color: rgb(26, 240, 44);
    text-transform: capitalize;
    text-indent: 4px;
    text-shadow: rgb(18, 17, 17) 1px 1px 2px;
}
body{
    background-image: url("C:\Users\ashia\OneDrive\Desktop\march_web\youtube\apna_college\images\img1.jpg");
    height: 100%;
    width: 100%;
    background-color: coral;
}
div{
    border: 4px black solid;
    width: min-content;
    height: min-content;
    border-color: cadetblue;
    margin-left: 0%;

}