<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectors</title>
</head>
<style>
    *{
        color: blue;
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        border: 3px double red;
        margin-top: 10px;
    }
    h1{
        color: blueviolet;
        text-align: center;
        text-shadow: 2px 2px black;
        border: none;
    }
    p{
        border: none;
        margin: 20px 20px;
       
    }
 
</style>
<body>
    <h1>welcome to new world ...</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quod sed deserunt incidunt nemo fuga iste pariatur error aperiam, veritatis expedita sapiente? Id illo ipsa quibusdam tenetur. Dolores, doloribus odio!</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sint corporis maiores blanditiis hic, amet iusto exercitationem minima quis similique aspernatur! Perspiciatis, officia laboriosam facilis molestias dicta porro fugiat odit.
    </p>
   

</body>
</html>